[submodule "mods/Serious_Workshop_Optimization"]
	path = mods/Serious_Workshop_Optimization
	url = https://github.com/Bence7661/Serious_Workshop_Optimization.git
[submodule "mods/Serious_The_Job_Can_Wait"]
	path = mods/Serious_The_Job_Can_Wait
	url = https://github.com/Bence7661/Serious_The_Job_Can_Wait.git
[submodule "mods/Serious_Tasks_QoL_Pack"]
	path = mods/Serious_Tasks_QoL_Pack
	url = https://github.com/Bence7661/Serious_Tasks_QoL_Pack.git
[submodule "mods/Serious_Intro_Ui_Screen"]
	path = mods/Serious_Intro_Ui_Screen
	url = https://github.com/Bence7661/Serious_Intro_Ui_Screen.git
[submodule "mods/Serious_Debugger"]
	path = mods/Serious_Debugger
	url = https://github.com/Bence7661/Serious_Debugger.git
[submodule "mods/AnomalyUIScalingCalculator"]
	path = mods/AnomalyUIScalingCalculator
	url = https://github.com/Bence7661/AnomalyUIScalingCalculator.git
[submodule "mods/Serious_UBGL_Separate_keybinds"]
	path = mods/Serious_UBGL_Separate_keybinds
	url = https://github.com/Bence7661/Serious_UBGL_Separate_keybinds.git
[submodule "mods/WCT_Callback_for_SSRS"]
	path = mods/WCT_Callback_for_SSRS
	url = https://github.com/Bence7661/WCT_Callback_for_SSRS.git
[submodule "mods/Serious_Weapon_Maintain_Features"]
	path = mods/Serious_Weapon_Maintain_Features
	url = https://github.com/Bence7661/Serious_Weapon_Maintain_Features.git
[submodule "mods/Serious_The_Northern_Job"]
	path = mods/Serious_The_Northern_Job
	url = https://github.com/Bence7661/Serious_The_Northern_Job
[submodule "mods/Serious_Streamlined_Anomaly_Maintenance"]
	path = mods/Serious_Streamlined_Anomaly_Maintenance
	url = https://github.com/Bence7661/Serious_Streamlined_Anomaly_Maintenance
[submodule "mods/Serious_Collection_Tracker"]
	path = mods/Serious_Collection_Tracker
	url = https://github.com/Bence7661/Serious_Collection_Tracker
[submodule "mods/Serious_Armor_Exchange_Info"]
	path = mods/Serious_Armor_Exchange_Info
	url = https://github.com/Bence7661/Serious_Armor_Exchange_Info
[submodule "mods/Serious_Swiper_No_Swiping"]
	path = mods/Serious_Swiper_No_Swiping
	url = https://github.com/Bence7661/Serious_Swiper_No_Swiping
[submodule "mods/Serious_Exo_QoL_Patches"]
	path = mods/Serious_Exo_QoL_Patches
	url = https://github.com/Bence7661/Serious_Exo_QoL_Patches
[submodule "mods/Serious_Regulated_Dynamic_Anomalies"]
	path = mods/Serious_Regulated_Dynamic_Anomalies
	url = https://github.com/Bence7661/Serious_Regulated_Dynamic_Anomalies
[submodule "mods/Tougher-Gun-Repair-GAMMA"]
	path = mods/Tougher-Gun-Repair-GAMMA
	url = https://github.com/veerserif/Tougher-Gun-Repair-GAMMA
